-- MySQL dump 10.13  Distrib 9.3.0, for Win64 (x86_64)
--
-- Host: localhost    Database: beehave
-- ------------------------------------------------------
-- Server version	9.3.0

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `brand`
--

DROP TABLE IF EXISTS `brand`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `brand` (
  `company_id` int NOT NULL AUTO_INCREMENT,
  `workspace_id` int NOT NULL,
  `company_name` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  `industry_field` varchar(60) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `street` varchar(150) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `city` varchar(60) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `province` varchar(60) COLLATE utf8mb4_general_ci DEFAULT NULL,
  PRIMARY KEY (`company_id`),
  UNIQUE KEY `uq_companyname_per_workspace` (`workspace_id`,`company_name`),
  UNIQUE KEY `uq_rel_companyname_per_workspace` (`workspace_id`,`company_name`),
  CONSTRAINT `fk_brand_workspace` FOREIGN KEY (`workspace_id`) REFERENCES `workspace` (`workspace_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=101 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `brand`
--

LOCK TABLES `brand` WRITE;
/*!40000 ALTER TABLE `brand` DISABLE KEYS */;
/*!40000 ALTER TABLE `brand` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `brand_telephone`
--

DROP TABLE IF EXISTS `brand_telephone`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `brand_telephone` (
  `company_id` int NOT NULL,
  `no_telephone` varchar(25) COLLATE utf8mb4_general_ci NOT NULL,
  PRIMARY KEY (`company_id`,`no_telephone`),
  CONSTRAINT `fk_telephone_brand` FOREIGN KEY (`company_id`) REFERENCES `brand` (`company_id`) ON UPDATE CASCADE,
  CONSTRAINT `chk_type_phone` CHECK (regexp_like(`no_telephone`,_utf8mb4'^[0-9+(). x-]+$'))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `brand_telephone`
--

LOCK TABLES `brand_telephone` WRITE;
/*!40000 ALTER TABLE `brand_telephone` DISABLE KEYS */;
/*!40000 ALTER TABLE `brand_telephone` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `campaign`
--

DROP TABLE IF EXISTS `campaign`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `campaign` (
  `campaign_id` int NOT NULL AUTO_INCREMENT,
  `company_id` int NOT NULL,
  `campaign_title` varchar(150) COLLATE utf8mb4_general_ci NOT NULL,
  `campaign_status` varchar(30) COLLATE utf8mb4_general_ci NOT NULL,
  PRIMARY KEY (`campaign_id`),
  UNIQUE KEY `uq_campaigntitle_per_company` (`company_id`,`campaign_title`),
  CONSTRAINT `campaign_ibfk_1` FOREIGN KEY (`company_id`) REFERENCES `brand` (`company_id`),
  CONSTRAINT `chk_campaign_status` CHECK ((`campaign_status` in (_utf8mb4'draft',_utf8mb4'started',_utf8mb4'closed')))
) ENGINE=InnoDB AUTO_INCREMENT=107 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `campaign`
--

LOCK TABLES `campaign` WRITE;
/*!40000 ALTER TABLE `campaign` DISABLE KEYS */;
/*!40000 ALTER TABLE `campaign` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_trans_campaign_status` BEFORE UPDATE ON `campaign` FOR EACH ROW BEGIN
    IF OLD.campaign_status = 'closed' AND NEW.campaign_status != 'closed' THEN
        SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = 'Campaign yang sudah closed tidak dapat dikembalikan statusnya';
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `collaborates`
--

DROP TABLE IF EXISTS `collaborates`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `collaborates` (
  `collaborates_id` int NOT NULL AUTO_INCREMENT,
  `influencer_id` int NOT NULL,
  `campaign_id` int NOT NULL,
  `collaboration_status` varchar(30) COLLATE utf8mb4_general_ci NOT NULL,
  PRIMARY KEY (`collaborates_id`),
  UNIQUE KEY `uq_influencer_campaign` (`influencer_id`,`campaign_id`),
  KEY `campaign_id` (`campaign_id`),
  CONSTRAINT `collaborates_ibfk_1` FOREIGN KEY (`influencer_id`) REFERENCES `influencer` (`influencer_id`),
  CONSTRAINT `collaborates_ibfk_2` FOREIGN KEY (`campaign_id`) REFERENCES `campaign` (`campaign_id`),
  CONSTRAINT `chk_collaboration_status` CHECK ((`collaboration_status` in (_utf8mb4'proposed',_utf8mb4'accepted',_utf8mb4'declined',_utf8mb4'cancelled')))
) ENGINE=InnoDB AUTO_INCREMENT=201 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `collaborates`
--

LOCK TABLES `collaborates` WRITE;
/*!40000 ALTER TABLE `collaborates` DISABLE KEYS */;
/*!40000 ALTER TABLE `collaborates` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_trans_collab_status` BEFORE UPDATE ON `collaborates` FOR EACH ROW BEGIN
    IF OLD.collaboration_status IN ('declined', 'cancelled') THEN
        SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = 'Status kolaborasi final tidak dapat diubah';
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `influencer`
--

DROP TABLE IF EXISTS `influencer`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `influencer` (
  `influencer_id` int NOT NULL AUTO_INCREMENT,
  `email` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  `real_name` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  PRIMARY KEY (`influencer_id`),
  UNIQUE KEY `email` (`email`),
  CONSTRAINT `chk_attr_email` CHECK ((`email` like _cp850'%@%.%'))
) ENGINE=InnoDB AUTO_INCREMENT=101 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `influencer`
--

LOCK TABLES `influencer` WRITE;
/*!40000 ALTER TABLE `influencer` DISABLE KEYS */;
/*!40000 ALTER TABLE `influencer` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `influencer_list`
--

DROP TABLE IF EXISTS `influencer_list`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `influencer_list` (
  `list_id` int NOT NULL AUTO_INCREMENT,
  `workspace_id` int NOT NULL,
  `nama_list` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  PRIMARY KEY (`list_id`),
  KEY `workspace_id` (`workspace_id`),
  CONSTRAINT `influencer_list_ibfk_1` FOREIGN KEY (`workspace_id`) REFERENCES `workspace` (`workspace_id`)
) ENGINE=InnoDB AUTO_INCREMENT=101 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `influencer_list`
--

LOCK TABLES `influencer_list` WRITE;
/*!40000 ALTER TABLE `influencer_list` DISABLE KEYS */;
/*!40000 ALTER TABLE `influencer_list` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `instagrwm_profile`
--

DROP TABLE IF EXISTS `instagrwm_profile`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `instagrwm_profile` (
  `social_media_profile_id` int NOT NULL,
  `total_post` int NOT NULL,
  PRIMARY KEY (`social_media_profile_id`),
  CONSTRAINT `instagrwm_profile_ibfk_1` FOREIGN KEY (`social_media_profile_id`) REFERENCES `social_media_profile` (`social_media_profile_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `instagrwm_profile`
--

LOCK TABLES `instagrwm_profile` WRITE;
/*!40000 ALTER TABLE `instagrwm_profile` DISABLE KEYS */;
INSERT INTO `instagrwm_profile` VALUES (1,384),(3,432),(5,28),(6,228),(11,498),(12,332),(18,290),(21,360),(22,188),(23,382),(25,322),(26,443),(27,291),(28,326),(29,188),(32,122),(34,456),(35,249),(37,385),(38,20),(42,426),(47,300),(49,273),(52,244),(55,181),(57,454),(60,47);
/*!40000 ALTER TABLE `instagrwm_profile` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `joins_user_workspace`
--

DROP TABLE IF EXISTS `joins_user_workspace`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `joins_user_workspace` (
  `user_id` int NOT NULL,
  `workspace_id` int NOT NULL,
  PRIMARY KEY (`user_id`,`workspace_id`),
  KEY `workspace_id` (`workspace_id`),
  CONSTRAINT `joins_user_workspace_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `user_account` (`user_id`),
  CONSTRAINT `joins_user_workspace_ibfk_2` FOREIGN KEY (`workspace_id`) REFERENCES `workspace` (`workspace_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `joins_user_workspace`
--

LOCK TABLES `joins_user_workspace` WRITE;
/*!40000 ALTER TABLE `joins_user_workspace` DISABLE KEYS */;
/*!40000 ALTER TABLE `joins_user_workspace` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_workspace_capacity` BEFORE INSERT ON `joins_user_workspace` FOR EACH ROW BEGIN
    DECLARE current_count INT;
    DECLARE capacity_limit INT;

    SELECT wc.max_capacity
    INTO capacity_limit
    FROM workspace w
    JOIN workspace_capacity wc
        ON w.subscription_plan = wc.subscription_plan
    WHERE w.workspace_id = NEW.workspace_id;

    IF capacity_limit IS NOT NULL THEN
        SELECT COUNT(*)
        INTO current_count
        FROM joins_user_workspace
        WHERE workspace_id = NEW.workspace_id;

        IF current_count >= capacity_limit THEN
            SIGNAL SQLSTATE '45000'
            SET MESSAGE_TEXT = 'Workspace capacity exceeded';
        END IF;
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `list_entry`
--

DROP TABLE IF EXISTS `list_entry`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `list_entry` (
  `list_id` int NOT NULL,
  `influencer_id` int NOT NULL,
  `user_id` int NOT NULL,
  `reason` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  PRIMARY KEY (`list_id`,`influencer_id`),
  KEY `influencer_id` (`influencer_id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `list_entry_ibfk_1` FOREIGN KEY (`list_id`) REFERENCES `influencer_list` (`list_id`),
  CONSTRAINT `list_entry_ibfk_2` FOREIGN KEY (`influencer_id`) REFERENCES `influencer` (`influencer_id`),
  CONSTRAINT `list_entry_ibfk_3` FOREIGN KEY (`user_id`) REFERENCES `user_account` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `list_entry`
--

LOCK TABLES `list_entry` WRITE;
/*!40000 ALTER TABLE `list_entry` DISABLE KEYS */;
/*!40000 ALTER TABLE `list_entry` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_db_check_list_user` BEFORE INSERT ON `list_entry` FOR EACH ROW BEGIN
    DECLARE list_ws_id INT;
    DECLARE user_ws_count INT;

    SELECT workspace_id INTO list_ws_id FROM influencer_list WHERE list_id = NEW.list_id;
    SELECT COUNT(*) INTO user_ws_count FROM joins_user_workspace WHERE user_id = NEW.user_id AND workspace_id = list_ws_id;

    IF user_ws_count = 0 THEN
        SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = 'User tidak berada dalam workspace list tersebut';
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `post`
--

DROP TABLE IF EXISTS `post`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `post` (
  `post_id` int NOT NULL AUTO_INCREMENT,
  `task_id` int NOT NULL,
  `social_media_profile_id` int NOT NULL,
  `post_url` varchar(255) COLLATE utf8mb4_general_ci NOT NULL,
  `like_count` int NOT NULL,
  `view_count` int NOT NULL,
  PRIMARY KEY (`post_id`),
  UNIQUE KEY `post_url` (`post_url`),
  KEY `task_id` (`task_id`),
  KEY `social_media_profile_id` (`social_media_profile_id`),
  CONSTRAINT `post_ibfk_1` FOREIGN KEY (`task_id`) REFERENCES `task` (`task_id`),
  CONSTRAINT `post_ibfk_2` FOREIGN KEY (`social_media_profile_id`) REFERENCES `social_media_profile` (`social_media_profile_id`),
  CONSTRAINT `chk_rel_views_likes` CHECK ((`view_count` >= `like_count`))
) ENGINE=InnoDB AUTO_INCREMENT=101 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `post`
--

LOCK TABLES `post` WRITE;
/*!40000 ALTER TABLE `post` DISABLE KEYS */;
/*!40000 ALTER TABLE `post` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `profile_day_metric`
--

DROP TABLE IF EXISTS `profile_day_metric`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `profile_day_metric` (
  `social_media_profile_id` int NOT NULL,
  `metric_date` date NOT NULL,
  `followers` int NOT NULL,
  PRIMARY KEY (`social_media_profile_id`,`metric_date`),
  CONSTRAINT `profile_day_metric_ibfk_1` FOREIGN KEY (`social_media_profile_id`) REFERENCES `social_media_profile` (`social_media_profile_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `profile_day_metric`
--

LOCK TABLES `profile_day_metric` WRITE;
/*!40000 ALTER TABLE `profile_day_metric` DISABLE KEYS */;
/*!40000 ALTER TABLE `profile_day_metric` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `social_media_profile`
--

DROP TABLE IF EXISTS `social_media_profile`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `social_media_profile` (
  `social_media_profile_id` int NOT NULL AUTO_INCREMENT,
  `influencer_id` int NOT NULL,
  `handle` varchar(60) COLLATE utf8mb4_general_ci NOT NULL,
  `followers_count` int NOT NULL,
  `verified_status` tinyint(1) NOT NULL,
  `platform` varchar(20) COLLATE utf8mb4_general_ci NOT NULL,
  PRIMARY KEY (`social_media_profile_id`),
  UNIQUE KEY `uq_handle_per_platform` (`handle`,`platform`),
  KEY `influencer_id` (`influencer_id`),
  CONSTRAINT `social_media_profile_ibfk_1` FOREIGN KEY (`influencer_id`) REFERENCES `influencer` (`influencer_id`),
  CONSTRAINT `chk_platform` CHECK ((`platform` in (_utf8mb4'instagrwm',_utf8mb4'tiktik')))
) ENGINE=InnoDB AUTO_INCREMENT=61 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `social_media_profile`
--

LOCK TABLES `social_media_profile` WRITE;
/*!40000 ALTER TABLE `social_media_profile` DISABLE KEYS */;
/*!40000 ALTER TABLE `social_media_profile` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `task`
--

DROP TABLE IF EXISTS `task`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `task` (
  `campaign_id` int NOT NULL,
  `collaborates_id` int DEFAULT NULL,
  `task_id` int NOT NULL AUTO_INCREMENT,
  `task_title` varchar(150) COLLATE utf8mb4_general_ci NOT NULL,
  `task_type` varchar(40) COLLATE utf8mb4_general_ci NOT NULL,
  `deadline` date DEFAULT NULL,
  `price` decimal(14,2) DEFAULT NULL,
  `task_status` varchar(30) COLLATE utf8mb4_general_ci NOT NULL,
  `task_detail` text COLLATE utf8mb4_general_ci,
  PRIMARY KEY (`task_id`),
  KEY `campaign_id` (`campaign_id`),
  KEY `collaborates_id` (`collaborates_id`),
  CONSTRAINT `fk_task_campaign` FOREIGN KEY (`campaign_id`) REFERENCES `campaign` (`campaign_id`) ON DELETE CASCADE,
  CONSTRAINT `task_ibfk_2` FOREIGN KEY (`collaborates_id`) REFERENCES `collaborates` (`collaborates_id`),
  CONSTRAINT `chk_rel_task_done_price` CHECK (((`task_status` <> _utf8mb4'done') or (`price` is not null))),
  CONSTRAINT `chk_task_status` CHECK ((`task_status` in (_utf8mb4'draft',_utf8mb4'assigned',_utf8mb4'done',_utf8mb4'missing'))),
  CONSTRAINT `chk_type_price` CHECK ((`price` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=107 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `task`
--

LOCK TABLES `task` WRITE;
/*!40000 ALTER TABLE `task` DISABLE KEYS */;
/*!40000 ALTER TABLE `task` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_db_check_task_campaign` BEFORE INSERT ON `task` FOR EACH ROW BEGIN
    DECLARE col_campaign_id INT;
    IF NEW.collaborates_id IS NOT NULL THEN
        SELECT campaign_id INTO col_campaign_id FROM collaborates WHERE collaborates_id = NEW.collaborates_id;
        IF NEW.campaign_id != col_campaign_id THEN
            SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = 'Campaign ID pada task tidak cocok dengan collaborates';
        END IF;
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_prevent_task_status_regression` BEFORE UPDATE ON `task` FOR EACH ROW BEGIN
    IF (
        (OLD.task_status = 'assigned' AND NEW.task_status = 'draft')
        OR
        (OLD.task_status IN ('done', 'missing') AND NEW.task_status <> OLD.task_status)
    ) THEN
        SIGNAL SQLSTATE '45000'
        SET MESSAGE_TEXT = 'Task status cannot move backward';
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_log_task_status_update` AFTER UPDATE ON `task` FOR EACH ROW BEGIN
    IF OLD.task_status <> NEW.task_status THEN
        INSERT INTO task_status_log (
            task_id,
            old_status,
            new_status,
            changed_at
        )
        VALUES (
            OLD.task_id,
            OLD.task_status,
            NEW.task_status,
            NOW()
        );
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `task_status_log`
--

DROP TABLE IF EXISTS `task_status_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `task_status_log` (
  `log_id` int NOT NULL AUTO_INCREMENT,
  `task_id` int NOT NULL,
  `old_status` varchar(20) NOT NULL,
  `new_status` varchar(20) NOT NULL,
  `changed_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`log_id`),
  KEY `task_id` (`task_id`),
  CONSTRAINT `task_status_log_ibfk_1` FOREIGN KEY (`task_id`) REFERENCES `task` (`task_id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `task_status_log`
--

LOCK TABLES `task_status_log` WRITE;
/*!40000 ALTER TABLE `task_status_log` DISABLE KEYS */;
INSERT INTO `task_status_log` VALUES (1,1,'missing','assigned','2026-05-20 04:36:47'),(2,11,'draft','assigned','2026-05-20 04:38:22'),(3,11,'assigned','done','2026-05-20 09:52:02');
/*!40000 ALTER TABLE `task_status_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tiktik_profile`
--

DROP TABLE IF EXISTS `tiktik_profile`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tiktik_profile` (
  `social_media_profile_id` int NOT NULL,
  `total_like` bigint NOT NULL,
  PRIMARY KEY (`social_media_profile_id`),
  CONSTRAINT `tiktik_profile_ibfk_1` FOREIGN KEY (`social_media_profile_id`) REFERENCES `social_media_profile` (`social_media_profile_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tiktik_profile`
--

LOCK TABLES `tiktik_profile` WRITE;
/*!40000 ALTER TABLE `tiktik_profile` DISABLE KEYS */;
INSERT INTO `tiktik_profile` VALUES (2,305863),(4,354568),(7,393114),(8,82077),(9,203976),(10,316312),(13,134783),(14,384122),(15,84089),(16,269789),(17,158014),(19,122539),(20,198394),(24,298162),(30,409460),(31,430569),(33,146681),(36,414686),(39,428925),(40,297452),(41,487181),(43,434428),(44,223259),(45,401866),(46,469455),(48,56033),(50,102360),(51,473930),(53,259272),(54,329722),(56,361142),(58,95436),(59,236444);
/*!40000 ALTER TABLE `tiktik_profile` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_account`
--

DROP TABLE IF EXISTS `user_account`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_account` (
  `user_id` int NOT NULL AUTO_INCREMENT,
  `username` varchar(50) COLLATE utf8mb4_general_ci NOT NULL,
  `password` varchar(255) COLLATE utf8mb4_general_ci NOT NULL,
  PRIMARY KEY (`user_id`),
  UNIQUE KEY `username` (`username`),
  CONSTRAINT `chk_attr_username` CHECK ((char_length(`username`) >= 5))
) ENGINE=InnoDB AUTO_INCREMENT=65 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_account`
--

LOCK TABLES `user_account` WRITE;
/*!40000 ALTER TABLE `user_account` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_account` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `workspace`
--

DROP TABLE IF EXISTS `workspace`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `workspace` (
  `workspace_id` int NOT NULL AUTO_INCREMENT,
  `workspace_name` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  `subscription_plan` varchar(30) COLLATE utf8mb4_general_ci NOT NULL,
  PRIMARY KEY (`workspace_id`),
  KEY `idx_workspace_subscription_plan` (`subscription_plan`),
  CONSTRAINT `fk_workspace_capacity` FOREIGN KEY (`subscription_plan`) REFERENCES `workspace_capacity` (`subscription_plan`),
  CONSTRAINT `chk_attr_sub_plan` CHECK ((`subscription_plan` in (_cp850'professional',_cp850'business',_cp850'enterprise'))),
  CONSTRAINT `chk_subscription_plan` CHECK ((`subscription_plan` in (_utf8mb4'professional',_utf8mb4'business',_utf8mb4'enterprise')))
) ENGINE=InnoDB AUTO_INCREMENT=62 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `workspace`
--

LOCK TABLES `workspace` WRITE;
/*!40000 ALTER TABLE `workspace` DISABLE KEYS */;
/*!40000 ALTER TABLE `workspace` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `workspace_capacity`
--

DROP TABLE IF EXISTS `workspace_capacity`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `workspace_capacity` (
  `subscription_plan` varchar(30) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL,
  `max_capacity` int DEFAULT NULL,
  PRIMARY KEY (`subscription_plan`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `workspace_capacity`
--

LOCK TABLES `workspace_capacity` WRITE;
/*!40000 ALTER TABLE `workspace_capacity` DISABLE KEYS */;
INSERT INTO `workspace_capacity` VALUES ('business',5),('enterprise',NULL),('professional',3);
/*!40000 ALTER TABLE `workspace_capacity` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping events for database 'beehave'
--
/*!50106 SET @save_time_zone= @@TIME_ZONE */ ;
/*!50106 DROP EVENT IF EXISTS `ev_save_daily_profile_metric` */;
DELIMITER ;;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;;
/*!50003 SET character_set_client  = cp850 */ ;;
/*!50003 SET character_set_results = cp850 */ ;;
/*!50003 SET collation_connection  = cp850_general_ci */ ;;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;;
/*!50003 SET @saved_time_zone      = @@time_zone */ ;;
/*!50003 SET time_zone             = 'SYSTEM' */ ;;
/*!50106 CREATE*/ /*!50117 DEFINER=`root`@`localhost`*/ /*!50106 EVENT `ev_save_daily_profile_metric` ON SCHEDULE EVERY 1 DAY STARTS '2026-05-21 00:00:00' ON COMPLETION NOT PRESERVE ENABLE DO CALL save_daily_profile_metric() */ ;;
/*!50003 SET time_zone             = @saved_time_zone */ ;;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;;
/*!50003 SET character_set_client  = @saved_cs_client */ ;;
/*!50003 SET character_set_results = @saved_cs_results */ ;;
/*!50003 SET collation_connection  = @saved_col_connection */ ;;
DELIMITER ;
/*!50106 SET TIME_ZONE= @save_time_zone */ ;

--
-- Dumping routines for database 'beehave'
--
/*!50003 DROP PROCEDURE IF EXISTS `duplicate_campaign` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `duplicate_campaign`(IN old_campaign_id INT)
BEGIN
    DECLARE new_campaign_id INT;
    DECLARE old_company_id INT;
    DECLARE old_title VARCHAR(100);
    DECLARE new_title VARCHAR(100);
    DECLARE duplicate_number INT;

    SELECT 
        company_id,
        campaign_title
    INTO 
        old_company_id,
        old_title
    FROM campaign
    WHERE campaign_id = old_campaign_id;

    SET duplicate_number = 2;

    WHILE EXISTS (
        SELECT 1
        FROM campaign
        WHERE company_id = old_company_id
          AND campaign_title = CONVERT(CONCAT(old_title, ' (', duplicate_number, ')') USING utf8mb4) COLLATE utf8mb4_general_ci
    ) DO
        SET duplicate_number = duplicate_number + 1;
    END WHILE;

    SET new_title = CONVERT(CONCAT(old_title, ' (', duplicate_number, ')') USING utf8mb4) COLLATE utf8mb4_general_ci;

    INSERT INTO campaign (
        company_id,
        campaign_title,
        campaign_status
    )
    VALUES (
        old_company_id,
        new_title,
        'draft'
    );

    SET new_campaign_id = LAST_INSERT_ID();

    INSERT INTO task (
        campaign_id,
        collaborates_id,
        task_title,
        task_type,
        deadline,
        price,
        task_status,
        task_detail
    )
    SELECT
        new_campaign_id,
        NULL,
        task_title,
        task_type,
        deadline,
        price,
        'draft',
        task_detail
    FROM task
    WHERE campaign_id = old_campaign_id;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `save_daily_profile_metric` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `save_daily_profile_metric`()
BEGIN
    INSERT INTO profile_day_metric (
        social_media_profile_id,
        metric_date,
        followers
    )
    SELECT 
        social_media_profile_id,
        CURDATE(),
        followers_count
    FROM social_media_profile
    ON DUPLICATE KEY UPDATE
        followers = VALUES(followers);
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-20 10:14:32
